.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: column;


}

.header {
    display: flex;
    border-color: rgb(252, 164, 236);
    border-width:2px;
    border-style: solid;
    justify-content: center;
    background-color: rgb(245, 162, 39);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
   

.title {
      color: rgb(0, 0, 0)
}
  



.footer {
    display: flex;
    border-color: rgb(255, 175, 235);
    border-width:2px;
    border-style: solid;
    justify-content: center;
    background-color: rgb(244, 150, 106);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
    
body {
      background-color: rgb(255, 249, 200)
}

.img1{
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


  
